{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grupos</h1>

    <table>
        <tbody>
            <tr>
                <th>Idgrupo</th>
                <td>{{ grupo.idGrupo }}</td>
            </tr>
            <tr>
                <th>Nomenclatura</th>
                <td>{{ grupo.nomenclatura }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grupos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('grupos_edit', { 'id': grupo.idGrupo }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
