{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header -->
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-toggle"></span>
                </button>

                <a style="color: white;" class="navbar-brand" href="#">Sistema de Gestión Académica - ADONAI</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a style="color: white;"  class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-user"></i>  {% if app.user %}{{ app.user.username }}{% endif %}
                            <span class="caret"></span></a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-home"></i>  Ir al Inicio</a></li>
                            <li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-lock"></i> Desconectarse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container">

        <!-- upper section -->
        <div class="row">
            <div class="col-sm-3">
                <!-- left -->
                <h3><i class="glyphicon glyphicon-menu-hamburger"></i>    Menú</h3>
                <hr>

                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ path('AdonaiUsuarios_docente') }}"><i class="glyphicon glyphicon-home"></i>   Inicio</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-education"></i>   Competencias</a></li>
                    <li><a href="http://www.bootply.com/85861"><i class="glyphicon glyphicon-th-list"></i>   Planeadores</a></li>
                    <li><a href="{{ path('AdonaiUsuarios_docente_notas') }}"><i class="glyphicon glyphicon-pencil"></i>   Notas Estudiantes</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-folder-open"></i>     Observador Grupo</a></li>
                </ul>
                <hr>

            </div><!-- /span-3 -->
            <div class="col-sm-9">

                <!-- column 2 --> 
                <h3></i>Panel de Calificaciones Estudiantiles</h3>  

                <hr>

                <div id="fila_general" class="row">
                    <!-- center left--> 
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><h4><i class="glyphicon glyphicon-sort"></i>  Gestionar Notas de Estudiantes</h4></div>
                            <div class="panel-body">
                                <div class="col-md-4">
                                    <form id="form_notas" action="{{ path('notas_new') }}" method="POST" novalidate role="form">
                                        <h5 id="subtitulo"><i class="glyphicon glyphicon-calendar"></i>  Año Lectivo Actual: </h5><medium>{{ al_actual.fechaInicio|date("d/m/Y") }} - {{ al_actual.fechaFinal|date("d/m/Y") }}</medium>
                                </div>
                                <div class="col-md-4">
                                    <h5 id="subtitulo"><i class="glyphicon glyphicon-calendar"></i>  Periodo Actual: </h5><medium id="periodo_fechas">{{ periodo_actual.fechaInPer|date("d/m/Y") }} - {{ periodo_actual.fechaFinPer|date("d/m/Y") }}</medium><br/><i><medium>Número: </medium></i><medium id="periodo_numero">{{ periodo_actual.numero }}</medium>
                                </div>
                                <div class="col-md-4">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                    {{ form_label(form.asignacion) }}
                                    {{ form_widget(form.asignacion, {'attr': {'class':'form-control'}})}}
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <h4><i class="glyphicon glyphicon-user"></i>  Escoger Estudiante</h4>
                                    <hr>
                                    <div id="div_lista_espera">
                                    </div>
                                    <table id="tabla_mats" class="table">
                                        <thead id="head_tabla_mats" class="hidden">
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre Estudiante</th>
                                                <th>Seleccionar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="body_tabla_mats">
                                        </tbody>
                                    </table>
                                </div>
                            </div><!--/panel-body-->
                        </div>
                    </div>
                    <div class="col-md-12" id="crud-notas">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><h4><i class="glyphicon glyphicon-edit"></i>  Registrar Notas</h4></div>
                            <div class="panel-body">
                                <div id="div_registrar_espera">
                                </div> 
                                {{ form_widget(form.periodo, {'attr': {'class':'hidden'}})}}

                                {{ form_widget(form.matricula, {'attr': {'class':'hidden'}})}}

                                {{ form_rest(form) }}

                                <div id="panel_competencias" class="col-md-12">
                                </div> <!-- Fin Panel_Competencias -->
                                <br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="enviar_form" type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-floppy-saved"></span>       Guardar
                                </button>
                                </form>
                            </div><!--/panel-body-->
                        </div><!-- Panel-Primary -->
                    </div><!--/crud-notas-->                     

                </div><!--/row segunda-->
            </div><!--/col-sm-9 -->
        </div><!--/row primera-->
    </div><!--/container-->
    <!-- /upper section -->

    <!-- /Main -->
    <footer class="text-center">Copyright &copy; 2016 | Colegio Bautista Ebenezer - <a href="http://google.com"><strong>Creador: Carlos Caicedo</strong></a></footer>

    <!-- script references -->
    {% block javascripts %}
        <script src="{{ asset('public/js/jquery.min.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('public/js/jquery.form-validator.min.js') }}"></script>
        <script>
            {{ parent() }}
//Obtener los datos solicitados
                $(function () {
                    $('#enviar_form').hide();
                    selectMatricula();
                    $('#nota_nota').attr('disabled', true);
                    var data = {
                        asignacion_id: $(this).val()
                    };
                    $('#body_tabla_mats').append("<h4>" + "<span class='label label-info'>" + "Selecciona una asignación de la lista para continuar" + "</span>" + "</h4>");
                    $('#panel_competencias').append("<h4>" + "<span class='label label-info'>" + "Selecciona una asignación de la lista para continuar" + "</span>" + "</h4>");
                    //Evento cuando cambia de asignacion
                    $("#nota_asignacion").change(function () {
                        var data = {
                            asignacion_id: $(this).val()
                        };
                        if (data["asignacion_id"] === "") {
                            resetearFormulario();
                        } else {
                            $.ajax({
                                type: 'post',
                                url: '{{ path("select_matriculas") }}',
                                data: data,
                                success: function (data) {
                                    $('#enviar_form').hide();
                                    $('#div_lista_espera').empty();
                                    $('#panel_competencias').empty();
                                    espera(1);
                                    setearMatriculas(data);
                                    $('#enviar_form').hide().fadeIn(2000);
                                    if ($("#confirmacion")) {
                                        $("#confirmacion").remove();
                                    }
                                }
                            });
                            $.ajax({
                                type: 'post',
                                url: '{{ path("select_competencias") }}',
                                data: data,
                                success: function (data) {
                                    setearCompetencias(data);
                                }
                            });
                        }
                    });
                });

//Enviar formulario por AJAX
                $('#form_notas').submit(function (e) {
                    setearInputs();
                    $('#div_registrar_espera').empty();
                    espera(2);
                    $.ajax({
                        type: "POST",
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        success: function (data) {
                            if ($("#confirmacion")) {
                                $("#confirmacion").remove();
                            }
                            notificacionRegistrar();
                        }
                    });
                    return false;
                });

                function selectMatricula() {
                    $("#nota_matricula").attr('disabled', 'disabled');
                    $('#nota_matricula').html('<option>-- Seleccione una Asignacion --</option>');
                }

                function notificacionRegistrar() {
                    confirmacion = "<div id='confirmacion' class='alert alert-success'>" +
                            "<button type='button' class='close' data-dismiss='alert'>" + '×' + "</button>" +
                            'Notas Registradas con Éxito.' +
                            "</div>";
                    $('#div_registrar_espera').empty();
                    $('#div_registrar_espera').append(confirmacion);
                    $(document).ready(function () {
                        setTimeout(function () {
                            $("#confirmacion").fadeOut(2000);
                        }, 3000);
                    });
                }

                function resetearFormulario() {
                    $('#form_notas')[0].reset();
                    $("#enviar_form").hide();
                    selectMatricula();
                    $('#body_tabla_mats').empty();
                    $('#panel_competencias').empty();
                    $('#body_tabla_mats').append("<h4>" + "<span id='espera' class='label label-info'>" + "Selecciona una asignación de la lista para continuar" + "</span>" + "</h4>");
                    $('#panel_competencias').append("<h4>" + "<span id='espera' class='label label-info'>" + "Selecciona una asignación de la lista para continuar" + "</span>" + "</h4>");
                    $('#head_tabla_mats').addClass("hidden");
                    $('#nota_nota').attr('disabled', 'disabled');
                }

//Setear el elemento seleccionado de la tabla en el Combo Estudiantes
                function matriculaActiva(id_matricula, id_tabla) {
                    $('#nota_matricula').val("" + id_matricula + "");
                    if ($("#confirmacion")) {
                        $("#confirmacion").remove();
                    }
                    filas = $('#body_tabla_mats').children();
                    for (i = 0; i < filas.length; i++) {
                        filas[i].style.background = (filas[i].style.background === '') ? '#FFFFFF' : '';
                    }
                    filas[id_tabla].style.backgroundColor = "#D9EDF7";
                }

//Muestra mensaje de espera
                function espera(ubicacion) {
                    if (ubicacion === 1) {
                        $('#div_lista_espera').append("<h4>" + "<span id='tag_espera_1' class='label label-info'>" + "Cargando..." + "</span>" + "</h4>");
                        $(document).ready(function () {
                            setTimeout(function () {
                                $("#tag_espera_1").fadeOut(350);
                            }, 950);
                        });
                    }
                    if (ubicacion === 2) {
                        $('#div_registrar_espera').append("<h4>" + "<span id='tag_espera_2' class='label label-info'>" + "Registrando Notas.." + "</span>" + "</h4>" + "<br/>");
                        $(document).ready(function () {
                            setTimeout(function () {
                                $("#tag_espera_2").fadeOut(350);
                            }, 950);
                        });
                    }
                }

// Devolver las Matriculas para Setearlas en la Tabla
                function crearTablaMatriculas(data) {
                    var matriculasProcesar = new Array();
                    for (i = 0; i < data.length; i++) {
                        fila = "<tr id='matricula_sele_" + data[i]["id"] + "'>" +
                                "<td>" + data[i]["id"] + "</td>" +
                                "<td>" + data[i]["nombre"] + "</td>" +
                                "<td>" + "<button id='" + data[i]["id"] + "' type='button' class='btn btn-info' onclick='matriculaActiva(this.id," + i + ")'>" + "<i class='glyphicon glyphicon-hand-up'>" + "</i>" + "</button>" + "</td>" +
                                "</tr>";
                        matriculasProcesar.push(fila);
                    }
                    return matriculasProcesar;
                }

//Instancia las matriculas en el combo y en la lista
                function setearMatriculas(data) {
                    var $matricula_selector = $('#nota_matricula');
                    $('#head_tabla_mats').addClass("hidden");
                    $matricula_selector.removeAttr("disabled");
                    $matricula_selector.html('<option>-- Seleccionar un Estudiante --</option>');
                    $('#body_tabla_mats').empty();
                    $('#nota_nota').val("");
                    setTimeout(function () {
                        $('#head_tabla_mats').removeClass("hidden").fadeIn(300);
                        $('#body_tabla_mats').append(crearTablaMatriculas(data)).hide().fadeIn(300);
                    }, 950);
                    for (var i = 0, total = data.length; i < total; i++) {
                        $matricula_selector.append('<option value="' + data[i]["id"] + '">' + data[i]["id"] + ' - ' + data[i]["nombre"] + '</option>');
                    }
                }

// Crear las competencias de la asignatura y sus campos de notas correspondientes
                function setearCompetencias(data) {
                    var $competencia_selector = $('#nota_competencia');
                    $competencia_selector.removeAttr("disabled");
                    $('#nota_nota').removeAttr("disabled");
                    $competencia_selector.html('<option>-- Seleccionar una Competencia --</option>');
                    for (var i = 0, total = data.length; i < total; i++) {
                        $competencia_selector.append('<option value="' + data[i]["id"] + '">' + data[i]["id"] + ' - ' + data[i]["contenido"] + '</option>');
                        competencia = "<div class='col-xs-4'>" +
                                "<div class='panel panel-info'>" +
                                "<div class='panel-heading'>" +
                                "<h3 class='panel-title'>" + "Competencia " + (i + 1) + "</h3>" +
                                "</div>" +
                                "<div class='panel-body' style='word-wrap: break-word;'>" +
                                data[i]['id'] + " - " + data[i]['contenido'] + "<br/>" +
                                "<div class='form-group'>" +
                                "<br/>" +
                                "<label for='lbl_nota_" + i + "'>" + "Nota: " + "</label>" +
                                "<div id='div_nota_" + i + "'>" +
                                "<input type='text' id='input_nota_" + i + "' class='form-control' placeholder='Escriba la nota' />" +
                                "</div>" +
                                "</div>" +
                                "</div>" +
                                "</div>" +
                                "</div>";
                        competencia = $(competencia).hide().fadeIn(1000);
                        $('#panel_competencias').append(competencia);
                        var $fieldset = $('<fieldset>');
                        $("<input id='input_hide_" + i + "' class='hidden' type='text' name='notas[]' placeholder='Escriba la nota'>").appendTo($fieldset);
                        $fieldset.appendTo($('#form_notas'));
                    }
                }

// Notas: Setear inputs de la vista en los inputs ocultos del formulario
                function setearInputs() {
                    $("#input_hide_0").val($("#input_nota_0").val());
                    $("#input_hide_1").val($("#input_nota_1").val());
                    $("#input_hide_2").val($("#input_nota_2").val());
                }
        </script>

    {% endblock %}
{% endblock %}