{% extends 'base.html.twig' %}

{% block body %}

<!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
            </button>

            <a style="color: white;" class="navbar-brand" href="#">Sistema de Gestión Académica - ADONAI</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a style="color: white;"  class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i>  {% if app.user %}{{ app.user.username }}{% endif %}
                        <span class="caret"></span></a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-home"></i>  Ir al Inicio</a></li>
                            <li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-lock"></i> Desconectarse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container">

        <!-- upper section -->
        <div class="row">
            <div id="row-menu" class="col-sm-3">
                <!-- left -->
                <h3><i class="glyphicon glyphicon-menu-hamburger"></i>    Menú</h3>
                <hr>

                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-item"><a href="{{ path('AdonaiUsuarios_docente') }}"><i class="glyphicon glyphicon-home"></i>   Inicio</a></li>
                    <li class="nav-item"><a href="#"><i class="glyphicon glyphicon-education"></i>   Competencias</a></li>
                    <li class="nav-item"><a href="http://www.bootply.com/85861"><i class="glyphicon glyphicon-th-list"></i>   Planeadores</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('AdonaiUsuarios_docente_notas') }}"><i class="glyphicon glyphicon-pencil"></i>   Notas Estudiantes</a></li>
                    <li class="nav-item"><a href="#"><i class="glyphicon glyphicon-folder-open"></i>     Observador Grupo</a></li>
                </ul>
                <hr>
                <h3><i class="glyphicon glyphicon-wrench"></i>    Opciones</h3>
                <hr>

                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-item"><a class="nav-link active" id="target_registrar" href="#"><i class="glyphicon glyphicon-plus"></i>   Registrar Notas</a></li>
                    <li class="nav-item"><a class="nav-link active" id="target_ver" href="#"><i class="glyphicon glyphicon-search"></i>     Ver Notas</a></li>
                </ul>
                <hr>
                <div id="contenedor_promedio" class="col-md-12 hidden">
                    <div id="panel_promedio" class="panel panel-primary">
                        <div class="panel-heading"><h4><i class="glyphicon glyphicon-stats"></i>  Promedio</h4></div>
                        <div id="body_promedio" class="panel-body">
                        </div><!--/panel-body-->
                    </div>
                </div>

            </div><!-- /row-menu -->

            <div id="contenedor-central" class="col-sm-9">
                <!-- column 2 -->
                <h3></i>Panel de Calificaciones Estudiantiles</h3>
                <hr>
                <!-- center left-->
                <div id="contenedor_gestionar" class="col-md-12 hidden">
                    <div id="panel_asignaciones" class="panel panel-primary">
                        <div class="panel-heading"><h4><i class="glyphicon glyphicon-sort"></i>  Gestionar Notas de Estudiantes</h4></div>
                        <div class="panel-body">

                            <form id="form_notas" action="{{ path('notas_new') }}" method="POST" novalidate role="form">
                               <div class="col-xs-4">
                                <h5 id="subtitulo"><i class="glyphicon glyphicon-calendar"></i>  Año Lectivo Actual: </h5><medium>{{ al_actual.fechaInicio|date("d/m/Y") }} - {{ al_actual.fechaFinal|date("d/m/Y") }}</medium>
                            </div>                                                  
                            <div class="col-xs-4">
                                <h5 id="subtitulo"><i class="glyphicon glyphicon-calendar"></i>  Periodo Actual: </h5><medium id="periodo_fechas">{{ periodo_actual.fechaInPer|date("d/m/Y") }} - {{ periodo_actual.fechaFinPer|date("d/m/Y") }}</medium><br/><i><medium>Número: </medium></i><medium id="periodo_numero">{{ periodo_actual.numero }}</medium>
                            </div>
                            <div class="col-xs-4">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                {{ form_label(form.asignacion) }}
                                {{ form_widget(form.asignacion, {'attr': {'class':'form-control'}})}}
                            </div>
                            <br/><br/><br/>
                            <div class="col-xs-12">
                                <hr>
                                <h4><i class="glyphicon glyphicon-education"></i>  Escoger Estudiante</h4>
                                <hr>
                                <div id="panel_escoger_est">
                                    <div id="div_lista_espera">
                                    </div>
                                    <table id="tabla_mats" class="table">
                                        <thead id="head_tabla_mats" class="hidden">
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre Estudiante</th>
                                                <th>Estado</th>
                                                <th>Seleccionar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="body_tabla_mats">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!--/panel-body-->
                    </div> <!-- panel primary Gestionar -->
                </div><!-- row Gestionar -->
                
                <div id="contenedor_registrar" class="col-sm-12 hidden">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4><i class="glyphicon glyphicon-edit"></i>  Registrar Notas</h4></div>
                        <div id="panel_registrar_notas" class="panel-body">
                            <div id="div_registrar_espera">
                            </div>

                            {{ form_widget(form.periodo, {'attr': {'class':'hidden'}})}}

                            {{ form_widget(form.matricula, {'attr': {'class':'hidden'}})}}

                            <div id="panel_competencias" class="col-md-12">
                            </div> <!-- Fin Panel_Competencias -->
                            <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="enviar_form" type="submit" class="btn btn-success hidden">
                                <span class="glyphicon glyphicon-floppy-saved"></span>       Guardar
                            </button>  
                            {{ form_rest(form) }}
                        </form>
                    </div><!--/panel-body-->
                </div><!-- Panel-Primary -->
            </div><!-- contenedor-registrar -->

            <div id="contenedor_ver_notas" class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4><i class="glyphicon glyphicon-eye-open"></i>  Ver Calificaciones</h4></div>
                    <div id="panel_ver_notas" class="panel-body">
                        <div class="col-md-4">
                            <h5 id="subtitulo"><i class="glyphicon glyphicon-list-alt"></i>  Escoger Asignación: </h5>
                            <select id="combo_asig_ver" class="form-control">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <h5 id="subtitulo"><i class="glyphicon glyphicon-info-sign"></i>  Escoger Periodo: </h5>

                            <select id="combo_periodo_ver" class="form-control">
                                <option value="0">-- Seleccione un Periodo --</option>
                                {% for periodo in periodos %}
                                <option value="{{ periodo.idPeriodo }}">{{ periodo.numero }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div id="div_progreso" class="col-md-4">
                            <h5 id="subtitulo"><i class="glyphicon glyphicon-signal"></i>  Progreso Notas </h5>
                            <medium>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-menu-right"></span><strong>&nbsp;&nbsp;Total Año Lectivo: </strong></medium><br/>
                            <medium>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-menu-right"></span><strong>&nbsp;&nbsp;Periodo {{ periodo_actual.numero }} (Actual): </strong></medium>
                        </div>
                        <br/><br/>
                        <div id="panel_tabla_notas" class="col-md-12 hidden">
                            <hr>
                            <div id="div_espera_ver">
                            </div>
                            <table id="tabla_notas" class="table">
                                <thead id="head_tabla_notas">
                                    <tr id="head_row_notas">
                                    </tr>
                                </thead>
                                <tbody id="body_tabla_notas">
                                </tbody>
                            </table>
                            <br/>
                            <h4><span class="glyphicon glyphicon-blackboard"></span>&nbsp;&nbsp;Convenciones: </h4>
                            <div id="contenedor_convenciones">  
                            </div>
                        </div><!--/panel-body-->
                        <br/>
                        <div class="col-md-12">
                            <br/>
                            <div id="div_error_ver">
                            </div>
                            <div id="div_info_ver">
                                <p><strong>NOTA: </strong> En este apartado puedes ver tanto las notas de todos los estudiantes en el periodo actual y en los periodos anteriores, más no modificar notas en periodos anteriores.</p><br/>
                            </div>
                            <button type="button" id="boton_buscar" data-loading-text="Buscando" autocomplete="off" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                        </div>
                    </div><!-- Panel-Primary -->
                </div><!-- contenedor-registrar -->

            </div><!-- /Contenedor-Central -->
        </div><!-- row primera -->
    </div><!--/container-->


    <!-- /Main -->
    <footer id="footer"class="text-center">Copyright &copy; 2016 | Colegio Bautista Ebenezer - <a href="http://google.com"><strong>Creador: Carlos Caicedo</strong></a></footer>

    <!-- script references -->
    {% block scripts %}
    <script src="{{ asset('public/js/notas_docente.js') }}"></script>
    {% endblock %}
    {% endblock %}