{% extends 'base.html.twig' %}

{% block body %}
    <h1>Acudientes list</h1>

    <table>
        <thead>
            <tr>
                <th>Idacu</th>
                <th>Nuip</th>
                <th>Nomacu</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acudiente in acudientes %}
            <tr>
                <td><a href="{{ path('acudientes_show', { 'id': acudiente.idAcu }) }}">{{ acudiente.idAcu }}</a></td>
                <td>{{ acudiente.nuip }}</td>
                <td>{{ acudiente.nomAcu }}</td>
                <td>{{ acudiente.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('acudientes_show', { 'id': acudiente.idAcu }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('acudientes_edit', { 'id': acudiente.idAcu }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acudientes_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
